USER_DB_NAME="dbname"
USER_DB_USER="user"
USER_DB_PASSWORD="password"

KEYCLOAK_DB_NAME="dbname"
KEYCLOAK_DB_USER="user"
KEYCLOAK_DB_PASSWORD="password"

KEYCLOAK_ADMIN_USER="admin"
KEYCLOAK_ADMIN_PASSWORD="password"

INFLUXDB3_AUTH_TOKEN="token"
